## Introduction
The following notebook contains a summarization of the tools and ecosystems used within data science.

## Data Science Languages
1. Python
2. Scala
3. R
4. SQL
5. Java

## Data Science Libraries
1. Pandas
2. Numpy
3. Scikit-learn
4. Pytorch
5. Tensorflow
5. GGplot2

## Data Science Tools
1. JupyterLab
2. Apache Spark
3. IBM Watson
4. Hadoop

## Arithmetic
Below are a few examples of arithmetic calculations with Python.

In [2]:
#This is a simple expression to add then multiply integers.
(3*4)+5

17

In [3]:
#This is a simple expression to convert 200 minutes to hours by dividing by 60
"200 minutes / 60 = " + str(200/60) + ' hours'

'200 minutes / 60 = 3.3333333333333335 hours'

## **Objectives:**
- Listed Popular Programming Languages for Data Science
- Performed Arithmetic Operations With Python
- Listed Popular Data Science Tools
- Listed Popular Data Science Libraries
- Used markdown to display text in Jupyter Notebook

## Author
Vineet Upadhya